<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bảng Điểm Sinh Viên</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Bảng Điểm Sinh Viên</h2>

    <div class="mb-3">
        <a href="/student/add" class="btn btn-primary">+ Thêm Sinh Viên</a>
        <a href="/score/add" class="btn btn-success">+ Thêm Điểm</a>
        <a href="/subject/add" class="btn btn-success">+ Thêm môn học</a>

    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Mã SV</th>
            <th>Họ tên</th>
            <th>Môn học</th>
            <th>Score 1</th>
            <th>Score 2</th>
            <th>Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${list}">
            <td th:text="${s.studentCode}"></td>
            <td th:text="${s.fullName}"></td>
            <td th:text="${s.subjectName}"></td>
            <td th:text="${s.score1}"></td>
            <td th:text="${s.score2}"></td>
            <td th:text="${s.gradeChar}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
